body {
   
    margin-left: 20%;
    margin-right: 20%;
    top: 0;
    left: 0;
    background-image: url('/img/bg1.jpeg');
    background-size: 100%;
    justify-content: center;
    text-align: center;

}

.info {
  color: #d4d4d4;
    font-size: 1.6rem;
    border: solid grey;
    box-shadow: 0 0 3px 3px;
    border-radius: 10px;
    height: auto;
    padding: 10px;
    margin: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    justify-content: center;
    text-align: center;
    font-family: Georgia, serif !important;
}

#wicon {
    width: 150px;
}

.tmp {
    display: flex;
}
.autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255); 
    border-bottom: 1px solid #bdb8b8; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #b1aeae; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #000000; 
  }

.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(10, 8, 8);
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px
}
